/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.orig
.lein-*
/.nrepl-port
.hgignore
.hg/
tests.log
*.swp
profiles.clj
deploy.tar.gz
/ops/.vagrant
/doc/dot/*png
/doc/dot/*dot
.vagrant
email-conf.edn
